@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/playfair-display-v40-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/montserrat-v31-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat-v31-latin-600.woff2') format('woff2');
}

@theme {
    --color-gold-executive: #BB9850;
    --color-gold-light: #FCE7A3;
    --color-gold-light-2: #D7B46D;
    --color-rich-black: #050505;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Montserrat", sans-serif;

    --animate-subtle-zoom: subtle-zoom 30s infinite alternate;
}

@keyframes subtle-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-rich-black);
    color: #ffffff;
    font-family: var(--font-sans);
}

.text-gold-metallic {
    background: linear-gradient(to bottom,
            #BB9850 0%,
            #BB9850 15%,
            #FCE7A3 50%,
            #BB9850 85%,
            #BB9850 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.gold-gradient-btn {
    background: linear-gradient(135deg,
            #BB9850 0%,
            #FCE7A3 50%,
            #BB9850 100%);
    background-size: 200% 200%;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s ease-out;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

#mobile-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.7s ease-in-out;
}

body.menu-open #mobile-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

body.menu-open {
    overflow: hidden;
}

#menu-toggle {
    z-index: 110;
}